# === LaTeX build artifacts ===
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot

# Code listings & change-tracking
*.cb
*.cb2
.*.lb

# === Intermediate/output formats ===
*.dvi
*.xdv
*-converted-to.*

# === Bibliography files ===
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# === Build-tool caches & metadata ===
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache
latex.out/

# === Package-specific aux files ===
*.alg    # algorithms
*.loa
*.thm    # amsthm
*.atfi   # attachfile2
*.nav    # beamer
*.pre
*.snm
*.vrb
*.soc    # changes
*.cut    # comment
*.cpt    # cprotect
*.spl    # elsarticle
*.ent    # endnotes
*.lox    # fixme
*.mf; *.mp; *.t[1-9]*; *.tfm   # feynmf/feynmp
*.end; *.[1-9]*; *.[1-9]*R     # (r)(e)ledmac/par
*.eledsec*
*.acn; *.acr; *.glg; *.glo; *.gls; *.glsdefs; *.lzo; *.lzs; *.slg; *.slo; *.sls   # glossaries
*.gnuplot; *.table; *-gnuplottex-*   # gnuplot & gnuplottex
*.gaux; *.glog; *.gtex; *.4ct; *.4tc; *.idv; *.lg; *.trc; *.xref   # gregoriotex & htlatex
*.brf    # hyperref
*-concordance.tex  # knitr
*.lol    # listings
*.ltjruby  # luatexja-ruby
*.idx; *.ilg; *.ind    # makeindex
*.maf; *.mlf; *.mlt; *.mtc*; *.slf*; *.slt*; *.stc*   # minitoc
*.data.minted; _minted*   # minted
*.mw    # morewrites
*.newpax  # newpax
*.nlg; *.nlo; *.nls   # nomencl
*.pax   # pax
*.pdfpc # pdfpcnotes
*.sagetex.*; pythontex-files-*/   # sagetex & pythontex
*.listing   # tcolorbox
*.loe   # thmtools
*.dpth; *.md5; *.auxlock   # TikZ & PGF
*.ptc   # titletoc
*.tdo   # todonotes
*.hst; *.ver   # vhistory
*.lod   # easy-todo
*.xcp   # xcolor
*.xmpi  # xmpincl
*.xdy   # xindy
*.xyc; *.xyd  # xypic precompiled
*.ttt; *.fff  # endfloat

# === Editors & backups ===
*.bak; *.bak[0-9]*   # generic backup
*.sav               # WinEdt
.texpadtmp          # Texpad
*.lyx~              # LyX
*.backup            # Kile
.*.swp; *~[0-9]*    # vim/gummi/temp files
auto/               # Emacs AUCTeX
*.tps               # TeXnicCenter

# ignore all TeX source and style files
*.tex
*.sty
* .nav

# Uncomment to ignore compiled PDFs if you don't want them in Git
# *.pdf
